@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
div.lockStyle {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 150px;
  height: 420px;
}
.DateBox {
  margin-top: 20px;
  text-align: center;
}
.DateBox h2 {
  font-size: 45px;
  font-weight: 600;
}
.DateBox h4 {
  display: inline;
  margin-left: 2px;
  font-size: 14px;
  font-weight: 200;
}
.iconBox {
  display: flex;
  justify-content: space-between;
}
.iconic {
  position: relative;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(1px) saturate(100%);
  backdrop-filter: blur(5px) saturate(100%);
}
.Torch{
  left: -5px;
}
.camera{
  right : -5px;
}
.bottom_lock{
  position: absolute;
  bottom: -45px;
  left: 52px;
  border-radius: 20px;
  display: grid;
  place-self: center;
}
.slider_lock {
  -webkit-appearance: none;
  visibility: hidden;
  width: 35px;
  height: 5px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: opacity 0.5s;
  transform : rotate(-90deg) translateX(35px);
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

}

.slider_lock::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  visibility: visible;
  width: 5px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
  border-radius: 20px;
}

.slider_lock::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
}