@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
div.PinStyle{
  margin-top: 20px;
  display: flex;
  backdrop-filter: blur(0.5px) saturate(90%);
  -webkit-backdrop-filter: blur(0.5px) saturate(90%);
  background-color: rgba(255, 255, 255,1/10000);
  justify-content: space-between;
  flex-direction: column;
  border-radius: 40px;
  width: 210px;
  height: 440px;
}
.Top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 100px;
  align-self: center;
}
.passcode h5{
  font-weight: 300;
}
.pins{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pins.animate{
  animation: animate 0.2s;
}
@keyframes animate{
  50%{
    transform: translate(5px);
  }
  100%{
    transform: translate(-5px);
  }
}
.pins input{
  padding: 0;
  width: 90px;
  position: absolute;
  top: 62.5px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-indent: 6.2px;
  backdrop-filter: blur(0.5px) saturate(90%);
  -webkit-backdrop-filter: blur(0.5px) saturate(90%);
  background-color: rgba(255, 255, 255,0.001);
  font-size: 45px;
  border: none;
  outline: none;
  cursor: none;
}
.pins span{
  margin-left: 4px;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.Bottom{
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 300px;
}
.pinBox{
  position: relative;
  top: -15px;
  padding: 7px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.pinBox button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.904);
  font-size: 18px;
  font-weight: 400;
  backdrop-filter: blur(1px) saturate(40%);
  -webkit-backdrop-filter: blur(1px) saturate(40%);
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  cursor: pointer;
}
.pinBox button:last-child{
  position: relative;
  left: 65px;
}
.Bottom1 h5{
  display: inline;
  position: relative;
  margin-left: 5px;
  top: -15px;
}
.bottom_pin{
  position: absolute;
  bottom: -25px;
  left: 85px;
  border-radius: 20px;
  display: grid;
  place-self: center;
}
.slider_pin {
  -webkit-appearance: none;
  visibility: hidden;
  width: 35px;
  height: 5px;
  outline: none;
  transform : rotate(-90deg) translateX(35px);
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

}

.slider_pin::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  visibility: visible;
  width: 5px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
  border-radius: 20px;
}
.cancel1{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.cancel1 h5:nth-child(2){
  position: relative;
  left: -30px;
}
.slider_pin::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
}