*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.widgetBox{
  width: 150px;
  height: 150px;
}
.Home{
  display: flex;
  position: relative;
  left: -11.5px;
  justify-content: space-between;
  width: 223px;
  height: 480px;
}

.firstPage{
  display: flex;
  position: relative;
  bottom: -80px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-right: 10px;
  margin-left: 10px;
}
.secondPage{
  display: flex;
  position: relative;
  left: -0.15px;
  top: -35px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-left: 0.5px;
}
.main{
  position: relative;
  left: 0px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 5px;
}
.main.default{
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0px;
  width: 210px;
  height: 54px;
  bottom: 0px;
  /* border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px; */
  border-radius: 18px;
  margin-top: 50px;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.466);
}
img{
  width: 33px;
  cursor: pointer;
}