*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.widgetBox{
  width: 150px;
  height: 150px;
}
.Home{
  display: flex;
  position: relative;
  left: -11.5px;
  justify-content: space-between;
  width: 223px;
  height: 480px;
}

.firstPage{
  display: flex;
  position: relative;
  bottom: -80px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-right: 10px;
  margin-left: 10px;
}
.secondPage{
  display: flex;
  position: relative;
  left: -0.15px;
  top: -35px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-left: 0.5px;
}
.main{
  position: relative;
  left: 0px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 5px;
}
.main.default{
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0px;
  width: 210px;
  height: 54px;
  bottom: 0px;
  border-radius: 18px;
  margin-top: 50px;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.466);
}
img{
  width: 33px;
  cursor: pointer;
}
.functionOfApps{
  position: absolute;
}
.bottom_lock{
  position: absolute;
  bottom: -35px;
  left: 107px;
  border-radius: 20px;
  z-index: 999;
}
.slider_lock {
  -webkit-appearance: none;
  visibility: hidden;
  width: 8px;
  height: 3px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: opacity 0.5s;
  transform : rotate(-90deg) translateX(35px);
  background-color: rgba(15, 2, 2, 0.849);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

}

.slider_lock::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  visibility: visible;
  width: 3px;
  height: 85px;
  background-color: rgba(15, 2, 2, 0.753);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
  border-radius: 20px;
}

.slider_lock::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
}